<h1>EstadoCarpeta#estadoCarpeta</h1>
<%= @hola %>
<%= @estudiante.id %>
<%= @estudiante.nombre %>
<%= @estudiante.apellido %>
<%= @estudiante.codigo %>
<%= @estudiante.programa %>

<p>Find me in app/views/estado_carpeta/estadoCarpeta.html.erb</p>
