
<script>
function toggle_visibilityMaest(maestria) {
    <% @maestrias.each do |maest| %>
        m=<%=maest[0]%>;
        if(m!=maestria){
            $('.<%=maest[0] %>').collapse('hide');
            <% tipos=maest[2]%>
            <% tipos.each do |tipo| %>
            $('.<%= maest[0]%><%=tipo[0]%>').collapse('hide');
            <% end %>
            document.getElementById("graph<%=maest[0]%>").style.display='none';

        }else{
            document.getElementById("graph<%=maest[0]%>").style.display='block';
            <% tipos=maest[2]%>
            <% tipos.each do |tipo| %>
            $('.<%= maest[0]%><%=tipo[0]%>').collapse('hide');
            <% end %>
        }
    <% end %>
};
function toggle_visibilityTipo(maestria, tipo) {
    <% @maestrias.each do |maest| %>
    m=<%=maest[0]%>;
    if(m==maestria){
        <% tipos=maest[2]%>
        <% tipos.each do |tipo| %>
            t=<%=tipo[0]%>;
            if(t!=tipo){
                $('.<%= maest[0]%><%=tipo[0]%>').collapse('hide');
            }
        <% end %>

    }
    <% end %>
};

function hideGraphs() {

    <% @maestrias.each do |maest| %>

        //document.getElementById("graph<%=maest[0]%>").style.display='none';
    <% end %>



}
window.onload = hideGraphs;

    function doload() {
        var checkboxs=document.getElementsByName("materias1[]");
        var okay=false;
        for(var i=0,l=checkboxs.length;i<l;i++)
        {
            if(checkboxs[i].checked)
            {
                okay=true;
            }
        }
        if(okay)alert("Thank you for checking a checkbox");
        else alert("Please check a checkbox");
    }
    
    function doload2() {
        var checkboxs=document.getElementsByName("materias1[]");
  var okay=false;
  for(var i=0,l=checkboxs.length;i<l;i++)
  {
    if(checkboxs[i].checked)
      {
          okay=true;
      }
  }
  if(!okay){
    var modalLink2 = document.getElementById('linkSem2'); 
    modalLink2.href='#finalModal';
    var modalLinkF = document.getElementById('linkFinal'); 
    modalLinkF.href='#sem1';
  }else{

      var checkboxs=document.getElementsByName("rep");
      for(var i=0,l=checkboxs.length;i<l;i++)
      {
          if(checkboxs[i].checked)
          {
              var val=checkboxs[i].value
              var checkboxsCam=document.getElementsByName("materias"+val+"[]");
              var checkboxsOr=document.getElementsByName("materias1[]");
                  for(var j=0,m=checkboxsOr.length;j<m;j++)
                  {
                      if(checkboxsOr[j].checked){
                          checkboxsCam[j].checked=true;
                      }
                  }
          }

      }

      var modalLink2 = document.getElementById('linkSem2'); 
      var modalLink3 = document.getElementById('linkSem3'); 
      var modalLink4 = document.getElementById('linkSem4');
modalLink2.href='#sem2';
      if(checkboxs[0].checked){
        //Dos está seleccionado
        if(checkboxs[1].checked){
          //Tres está seleccionadp

          if(checkboxs[2].checked){
            //2,3, 4 selecionados. Ir al final.

            document.getElementById("setMaterias").submit();
            modalLink2.href='/';
          }else{
            //2,3 selecionados. Ir a 4
            modalLink2.href='#sem4';

          }
        }else{
          
        //2 seleccionado. Ir a tres
         modalLink2.href='#sem3';
          if(checkboxs[2].checked){
            //2, 4 selecionados. El link3 ejecuta el form
            modalLink4.onclick=function () {  document.getElementById("setMaterias").submit(); };
            modalLink4.href='/';
          }else{
            //Solo 2 seleccionado
            //Muestra la opción de replicar en 3
            document.getElementById("replicar3").style.display='block';
          }
        }
      }
      else if(checkboxs[1].checked){
        //3 seleccionado
          if(checkboxs[2].checked){
            //3, 4 selecionados. El link2 ejecuta el form
            modalLink3.onclick=function () {  document.getElementById("setMaterias").submit(); };
            modalLink3.href='/';
          }else{
            //Solo 3 seleccionado
            var d = document.getElementById('replicar2');

            var olddiv = document.getElementById('rep32');

            d.removeChild(olddiv);
            d.removeChild(document.getElementById('rep32s'));
            modalLink3.href='#sem4';
            document.getElementById("replicar2").style.display='block';
            
          } 
      }else if(checkboxs[2].checked){
        //4 seleccionado
              var d = document.getElementById('replicar2');

              var olddiv = document.getElementById('rep32');

              d.removeChild(olddiv);
              d.removeChild(document.getElementById('rep32s'));
              document.getElementById("replicar2").style.display='block';
        modalLink4.onclick=function () {  document.getElementById("setMaterias").submit(); };
        modalLink4.href='/';
      }
      else if(!checkboxs[0].checked && !checkboxs[1].checked && !checkboxs[2].checked){
        document.getElementById("replicar2").style.display='block';
      } 
    }
    }

function doload3() {
          var checkboxs=document.getElementsByName("materias2[]");
  var okay=false;
  for(var i=0,l=checkboxs.length;i<l;i++)
  {
    if(checkboxs[i].checked)
      {
          okay=true;
      }
  }
  if(!okay){
    var modalLink3 = document.getElementById('linkSem3'); 
    modalLink3.href='#finalModal';
    var modalLinkF = document.getElementById('linkFinal'); 
    modalLinkF.href='#sem2';
  }else{
      var checkboxs=document.getElementsByName("rep2");
      for(var i=0,l=checkboxs.length;i<l;i++)
      {
         if(checkboxs[i].checked)
          {
              var val=checkboxs[i].value
              var checkboxsCam=document.getElementsByName("materias"+val+"[]");
              var checkboxsOr=document.getElementsByName("materias2[]");
                  for(var j=0,m=checkboxsOr.length;j<m;j++)
                  {
                      if(checkboxsOr[j].checked){
                          checkboxsCam[j].checked=true;
                      }
                  }
          }

      }

      var modalLink3 = document.getElementById('linkSem3'); 
      var modalLink4 = document.getElementById('linkSem4');
      modalLink3.href='#sem3';
      if(checkboxs.length==2){
        if(checkboxs[0].checked){

          //tres está seleccionado
          if(checkboxs[1].checked){
            //3,4 está seleccionado
            document.getElementById("setMaterias").submit(); 
          }else{
          //3 seleccionado. Ir a 4
           modalLink3.href='#sem4';

          }
        }
        else if(checkboxs[1].checked){

          //4 está seleccionado
          s=modalLink3.href
          if(s.indexOf("#sem4") !== -1){
            //3 Ya ha sido replicado
            document.getElementById("setMaterias").submit();
          }else{
            modalLink3.href=='#sem3';
          }
        }
      }else if(checkboxs.length==1){
        if(checkboxs[0].checked){

          //4 está seleccionado
          s=modalLink3.href

           document.getElementById("setMaterias").submit();
                     modalLink3.href='/';
        }

                
      }
    }
  }


function doload4() {
      var checkboxs=document.getElementsByName("rep3");
      for(var i=0,l=checkboxs.length;i<l;i++)
      {
         if(checkboxs[i].checked)
          {
              var val=checkboxs[i].value
              var checkboxsCam=document.getElementsByName("materias"+val+"[]");
              var checkboxsOr=document.getElementsByName("materias2[]");
                  for(var j=0,m=checkboxsOr.length;j<m;j++)
                  {
                      if(checkboxsOr[j].checked){
                          checkboxsCam[j].checked=true;
                      }
                  }
          }

      }
      var modalLink4 = document.getElementById('linkSem4');

      if(checkboxs.length==2){
        if(checkboxs[0].checked){

          //tres está seleccionado
          if(checkboxs[1].checked){
            //3,4 está seleccionado
            document.getElementById("setMaterias").submit(); 
          }else{
          //3 seleccionado. Ir a 4
           modalLink3.href='#sem4';

          }
        }
        else if(checkboxs[1].checked){

          //4 está seleccionado
          s=modalLink3.href
          if(s.indexOf("#sem4") !== -1){
            //3 Ya ha sido replicado
            document.getElementById("setMaterias").submit();
          }else{
            modalLink3.href=='#sem3';
          }
        }
      }else if(checkboxs.length==1){

        if(checkboxs[0].checked){

          //4 está seleccionado
          s=modalLink3.href
          if(s.indexOf("#sem4") !== -1){
            //3 Ya ha sido replicado
            document.getElementById("setMaterias").submit();
          }else{
            modalLink3.href=='#sem3';
          }
        }

                
      }
    }
 function checkAll(number){
  var checkboxs=document.getElementsByName("materias"+number+"[]");

  for(var i=0,l=checkboxs.length;i<l;i++)
  {
        checkboxs[i].checked=true;
  }
 }

 function verificarAlguna(number){
  var checkboxs=document.getElementsByName("materias"+number+"[]");
  var okay=false;
  for(var i=0,l=checkboxs.length;i<l;i++)
  {
    if(checkboxs[i].checked)
      {
          okay=true;
      }
  }
  if(!okay){
    alert("Error! Debe seleccionar alguna");
  }
 }

</script>
<% if (Registro.all).empty? == false  %>
<h1>Planeación del semestre <%= @sem %></h1>

 <p>Otros Semestres </p>
  <div class="nav" align ="left">

    <div class='navbar-inner'>

      <nav style="font-size:18px;color:#4F81BD">
      <br>
       <ul class="navbar pull-center" style="color:#4F81BD">
        <a href="/reservas/detalles"><u>Semetre 1</u></a> - 
         <a href="/reservas/semestrePlaneado?utf8=✓&semestre=2&commit=Ver+Cupos+semestre+2"><u>Semestre 2</u></a> - 
         <a href="/reservas/semestrePlaneado?utf8=✓&semestre=3&commit=Ver+Cupos+semestre+3"><u>Semestre 3</u></a> - 
         <a href="/reservas/semestrePlaneado?utf8=✓&semestre=4&commit=Ver+Cupos+semestre+4"><u>Semestre 4</u></a>
         
        </ul>
      </nav>

    </div>
  </div>
<br><br>
<%= javascript_include_tag 'highcharts','exporting' %>
<%= high_chart("my_id", @h) do |c| %>
    <%= raw "options.tooltip.formatter = function() {return '<b> '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
    <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
<% end %>

 <% @maestrias.each do |maest| %>
        <% totalCuposMaest= maest[1]%>
        <% tipos=maest[2] %>
        <% estadisticasTipo=[]%>

        <% tipos.each do |t| %>
           <%estTipo=[]  %>
           <% estTipo.push(t[0]) %>
           <% estTipo.push((t[1]*100)/totalCuposMaest) %>

           <% estadisticasTipo.push(estTipo) %>
       <% end %>

    <%t = LazyHighCharts::HighChart.new('pie') do |f|
        f.chart({:defaultSeriesType=>"pie" , :margin=> [50, 200, 60, 170]} )
        series = {
        :type=> 'pie',
        :name=> 'Cupos por tipo para la maestria'<< maest[0],
        :data=> estadisticasTipo
        }
        f.series(series)
        f.options[:title][:text] = "Porcentaje de cupos por tipo para la maestria " << maest[0]
        f.legend(:layout=> 'vertical',:style=> {:left=> 'auto', :bottom=> 'auto',:right=> '50px',:top=> '100px'})
        f.plot_options(:pie=>{
        :allowPointSelect=>true,
        :cursor=>"pointer" ,
        :dataLabels=>{
        :enabled=>true,
        :color=>"black",
        :style=>{
        :font=>"13px Trebuchet MS, Verdana, sans-serif"
        }
        }
        })
    end %>

    <%= high_chart("graph"<< maest[0], t) do |c| %>
        <%= raw "options.tooltip.formatter = function() {return '<b> '+ this.point.name +'</b>: '+ this.y +' %';}"  %>
        <%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
    <% end %>

<% end %>


<div class="accordion" id="accordion2">

    <table class="table" style="border-collapse:collapse;">
      <thead>
      <tr>

        <th><br>Maestria</th>
        <th>Cupos</th>

      </tr>
      </thead>
      <tbody>
      <% @maestrias.each do |maest| %>

      <div class="accordion-heading">
        <tr data-toggle="collapse" data-parent="#accordion2" data-target=".<%= maest[0]%>" id="<%= maest[0]%>" class="accordion-toggle" onclick="toggle_visibilityMaest(<%= maest[0]%>);">
            <td><br><%= maest[0]%><br> </td>

            <td><%= maest[1]%></td>
        </tr >
      </div>
      <tr>
        <td class="headHidden">
          <div class="accordian-body collapse <%= maest[0]%>">
            <div class="accordion-inner">
              - Tipo
            </div>
          </div>
        </td>
        <td class="headHidden">
          <div class="accordian-body collapse <%= maest[0]%>">
            <div class="accordion-inner">
              Cupos
            </div>
          </div>
        </td>
      </tr>

      <% tipos=maest[2]%>
      <% tipos.each do |tipo| %>
      <tr data-toggle="collapse" data-parent="#<%= maest[0]%>" data-target=".<%= maest[0]%><%=tipo[0]%>" id="<%= maest[0]%><%=tipo[0]%>" class="accordion-toggle" onclick="toggle_visibilityTipo(<%= maest[0]%>, <%=tipo[0]%>);">
        <td class="typeHidden">
          <div class="accordian-body collapse <%= maest[0]%>">
            <div class="accordion-inner">
              - <%= tipo[0] %>
            </div>
          </div>
        </td>
        <td class="typeHidden">
          <div class="accordian-body collapse <%= maest[0]%>">
            <div class="accordion-inner">
              <%= tipo[1] %>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td class="matHeadHidden">
          <div class="accordian-body collapse <%= maest[0]%><%=tipo[0]%>">
            <div class="accordion-inner">
              + Materia
            </div>
          </div>
        </td>
        <td class="matHeadHidden">
          <div class="accordian-body collapse <%= maest[0]%><%=tipo[0]%>">
            <div class="accordion-inner">
              Cupos
          </div>
        </td>
      </tr>
              <% materias= tipo[2] %>
              <% materias.each do |mat| %>
                  <tr>
                    <td class="matHidden">
                      <div class="accordian-body collapse <%= maest[0]%><%=tipo[0]%>">
                        <div class="accordion-inner">
                          + <%= mat[0] %>
<br>



  

                        </div>
                      </div>
                    </td>
                    <td class="matHidden">
                      <div class="accordian-body collapse <%= maest[0]%><%=tipo[0]%>">
                        <div class="accordion-inner">
                          

<% p =Planeacion.where(semestre: @sem , codigoMateria: mat[2])  %>
<% r = Registro.where(idPlaneacion: p) %>
<% total = r.count %>
<% pTemp = r.where.not(prioridad: "Mismo programa") %>
<font color=red>Ultimo Semestre: <%= pUltimo = pTemp.all( :conditions => ["prioridad like ?", "%Ultimo%" ]).count %></font><br>
<font color=orange>Mismo Programa: <%= pMismoprograma = r.where(prioridad: "Mismo programa").count %></font><br>
Otros: <%= pOtros =  total - pMismoprograma - pUltimo %><br>
Total: <%=total%>
                        </div>
                    </td>
                  </tr>






             <% end %>
      <% end %>
      <% end %>
      </tbody>
    </table>

</div>
<br>
<p>Datos:</p>
<p>Total de cupos asignados = <%=@totalCupos%></p>
<p> Estudiantes de ultimo semestre esperados = <%=@numEstUltimo%></p>
<p> Estudiantes de otros semestres esperados = <%=@numEstNoUltimo%></p>
</div>

<p>Limpiar PLaneacion</p>
<%= form_tag('limpiarEscenario',:method => :get) do%>
<%= submit_tag("Limpiar") %>
<% end %>

<p>Ejecutar Nueva Planeacion</p> 

<% else %>
<h1>Planeacion del semestre <%= @sem %></h1>
<br><br>

<font color="#990000">No existe ninguna planeacion en el sistema.</font>
<p>Ejecutar Planeacion</p> 

<% end %>
<!-- Aqui va el boton de planeacion -->
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Ejecutar planeacion</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ejecutar Planeacion</h3>
  </div>
  <div class="modal-body">
    <p><font size="3">Desea especificar las materias en cada semestre?</font></p>
  </div>
  <div class="modal-footer">
    <%= form_tag('planearSemestres',:method => :get) do%>
      <%= submit_tag("No")%>
    <% end %>
    <a href="#sem1" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Si</a>
  </div>
</div>
<%= form_tag('setMateriasSemestre',:method => :get,:id => "setMaterias"  ) do%>
<div id="sem1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Planeacion Semestre 1</h3>
  </div>
  <div class="modal-body"> <font size="3"> 
    <p>Seleccione las materias que desea que esten disponibles en este semestre,</p>
    <input id="all" type="checkbox" value="all" onclick="checkAll(1)"/> Seleccionar todas<br />

        <input hidden name="materias1[]"/>
        <%programas = Materia.group("programa")%>
        <%programas.each do |p| %>
          <%materias=Materia.where("programa=?", p.programa)%>
          <h5><%=p.programa%></h5>
           <%materias.each do |c|%>
            <%= check_box_tag "materias1[]", c.id, false, :id => "materias1_#{c.id}" %> <%= c.nombre%><br />
          <%end%>
        <%end%>
          
         <hr>
        <p> Si desea esta configuracion de materias en otro semestre, seleccione cual </p>
      <input id="rep2" name="rep" type="checkbox" value="2" /> Semestre 2<br />
      <input id="rep3" name="rep" type="checkbox" value="3" /> Semestre 3<br />
      <input id="rep4" name="rep" type="checkbox" value="4" /> Semestre 4<br />
    
 </font> </div>
  <div class="modal-footer">
        <a href="#sem2" id="linkSem2" data-toggle="modal" data-dismiss="modal" class="btn btn-primary" onclick="doload2()">Siguiente1</a>
  </div>
</div>

<div id="sem2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Planeacion Semestre 2</h3>
  </div>
  <div class="modal-body"><font size="3"> 
    <p>Planeacion Semestre 2</p>
        <input id="all" type="checkbox" value="all" onclick="checkAll(2)"/> Seleccionar todas<br />
    <input hidden name="materias2[]"/>
    <%programas = Materia.group("programa")%>
    <%programas.each do |p| %>
      <%materias=Materia.where("programa=?", p.programa)%>
      <h5><%=p.programa%></h5>
       <%materias.each do |c|%>
        <%= check_box_tag "materias2[]", c.id, false, :id => "materias2_#{c.id}" %> <%= c.nombre%><br />
      <%end%>
    <%end%>        
     <hr>
   <div style="display:none" id="replicar2">
    <p> Si desea esta configuracion de materias en otro semestre, seleccione cual </p>
     <p> Replicar en </p>
      <input id="rep32" name="rep2" type="checkbox" value="3"> <div id="rep32s">Semestre 3</div><br />
      <input id="rep42" name="rep2" type="checkbox" value="4" /> Semestre 4<br />
    </div>
    </font>
  </div>

  <div class="modal-footer">

    <a href="#sem3" id="linkSem3" data-toggle="modal" data-dismiss="modal" class="btn btn-primary" onclick="doload3()">Siguiente2</a>
  </div>
</div>

<div id="sem3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Planeacion Semestre 3</h3>
  </div>
  <div class="modal-body"><font size="3"> 
    <p>Planeacion Semestre 3</p>
        <input id="all" type="checkbox" value="all" onclick="checkAll(3)"/> Seleccionar todas<br />
    <input hidden  name="materias3[]"/>
    <%programas = Materia.group("programa")%>
    <%programas.each do |p| %>
      <%materias=Materia.where("programa=?", p.programa)%>
      <h5><%=p.programa%></h5>
       <%materias.each do |c|%>
        <%= check_box_tag "materias3[]", c.id, false, :id => "materias3_#{c.id}" %> <%= c.nombre%><br />
      <%end%>
    <%end%>   
     <hr>
  <div style="display:none" id="replicar3">
      <p> Si desea esta configuracion de materias en otro semestre, seleccione cual </p>
      <input id="rep4" name="rep3" type="checkbox" value="4" /> Semestre 4<br />
    </div>
    </font>
  </div>
  <div class="modal-footer">


    <a href="#sem4" id="linkSem4" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Siguiente3</a>
  </div>
</div>

<div id="sem4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Planeacion Semestre 4</h3>
  </div>
  <div class="modal-body"><font size="3"> 
    <p>Planeacion Semestre 4</p>
        <input id="all" type="checkbox" value="all" onclick="checkAll(4)"/> Seleccionar todas<br />
    <input hidden name="materias4[]"/>
     <%programas = Materia.group("programa")%>
    <%programas.each do |p| %>
      <%materias=Materia.where("programa=?", p.programa)%>
      <h5><%=p.programa%></h5>
       <%materias.each do |c|%>
         <%= check_box_tag "materias4[]", c.id, false, :id => "materias4_#{c.id}" %> <%= c.nombre%><br />
      <%end%>
    <%end%>  

 </font> </div>
  <div class="modal-footer">
    <%= submit_tag("Terminar") %>


  </div>
</div>

<div id="finalModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Error</h3>
  </div>
  <div class="modal-body"><font size="3"> 
    <div class="alert alert-error">
    <p>Error! No ha seleccionado ninguna materia</p>
    </div>

 </font> </div>
  <div class="modal-footer">
  <a href="#" id="linkFinal" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Regresar</a>
  </div>
</div>
    <% end %>

