<h1>Estudiantes de último semestre</h1>
<p>Ver estudiantes de último semestre</p>
<%= form_tag('ultimosEstudiantes',:method => :get) do%>
    <%= submit_tag("Ver") %>
<% end%>



 
 <p>Planear Proximos Semestres</p>
<%= form_tag('planearSemestres',:method => :get) do%>
<%= submit_tag("Planear Semestres") %>
<% end %>

<%= form_tag(generar_secciones_generar_path,:method => :get) do%>
<%= submit_tag("Generar Secciones") %>
<% end %>

 <p>Ver Planeacion proximos semestres </p>
<%= form_tag('semestrePlaneado',:method => :get) do%>
<input hidden name="semestre" value="1">
<%= submit_tag("Ver Cupos semestre 1") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
<input hidden name="semestre" value="2">
<%= submit_tag("Ver Cupos semestre 2") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
    <input hidden name="semestre" value="3">
    <%= submit_tag("Ver Cupos semestre 3") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
    <input hidden name="semestre" value="4">
    <%= submit_tag("Ver Cupos semestre 4") %>
<% end %>

<br><br>
 <p>Limpiar Escenario</p>
<%= form_tag('limpiarEscenario',:method => :get) do%>
<%= submit_tag("Limpiar") %>
<% end %>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Ejecutar planeacion</a>
<%= form_tag('setMateriasSemestre',:method => :get ) do%>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Desea especificar las materias en cada semestre?</p>
  </div>
  <div class="modal-footer">
    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <a href="#sem1" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Si</a>
  </div>
</div>

<div id="sem1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 1</p>

        <input hidden name="materias1[]"/>
        <%@materias1 = Materia.all%>
        <%@materias1.each do |c|%>
            <%= check_box_tag "materias1[]", c.id %> <%= c.nombre%><br />
        <%end%>
  </div>
  <div class="modal-footer">
        <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
        <a href="#sem2" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Sem2</a>
  </div>
</div>

<div id="sem2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 2</p>
    <input hidden name="materias2[]"/>
    <%@materias2 = Materia.all%>
    <%@materias2.each do |c|%>
        <%= check_box_tag "materias2[]", c.id %> <%= c.nombre%><br />
    <%end%>
  </div>

  <div class="modal-footer">

    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <a href="#sem3" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Sem3</a>
  </div>
</div>

<div id="sem3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 3</p>
    <input hidden  name="materias3[]"/>
        <%@materias3 =  Materia.all%>
        <%@materias3.each do |c|%>
          <%= check_box_tag "materias3[]", c.id %> <%= c.nombre%><br />
        <%end%>
  </div>
  <div class="modal-footer">

    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <a href="#sem4" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Sem4</a>
  </div>
</div>

<div id="sem4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 4</p>
    <input hidden name="materias4[]"/>
        <%@materias4 = Materia.all%>
        <%@materias4.each do |c|%>
         <%= check_box_tag "materias4[]", c.id %> <%= c.nombre%><br />
        <%end%>
  </div>
  <div class="modal-footer">
    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <%= submit_tag("Terminar") %>


  </div>
</div>
    <% end %>

