<script>
    function doload() {
        var checkboxs=document.getElementsByName("materias1[]");
        var okay=false;
        for(var i=0,l=checkboxs.length;i<l;i++)
        {
            if(checkboxs[i].checked)
            {
                okay=true;
            }
        }
        if(okay)alert("Thank you for checking a checkbox");
        else alert("Please check a checkbox");
    }
    
    function doload2() {
      var checkboxs=document.getElementsByName("rep");
      for(var i=0,l=checkboxs.length;i<l;i++)
      {
          if(checkboxs[i].checked)
          {
              var val=checkboxs[i].value
              var checkboxsCam=document.getElementsByName("materias"+val+"[]");
              var checkboxsOr=document.getElementsByName("materias1[]");
                  for(var j=0,m=checkboxsOr.length;j<m;j++)
                  {
                      if(checkboxsOr[j].checked){
                          checkboxsCam[j].checked=true;
                      }
                  }
          }

      }

      var modalLink2 = document.getElementById('linkSem2'); 
      var modalLink3 = document.getElementById('linkSem3'); 
      var modalLink4 = document.getElementById('linkSem4');

      if(checkboxs[0].checked){
        //Dos está seleccionado
        if(checkboxs[1].checked){
          //Tres está seleccionadp

          if(checkboxs[2].checked){
            alert("Please check a checkbox");
            //2,3, 4 selecionados. Ir al final.

            document.getElementById("setMaterias").submit();
            modalLink2.href='/';
          }else{
            //2,3 selecionados. Ir a 4
            modalLink2.href='#sem4';

          }
        }else{
          
        //2 seleccionado. Ir a tres
         modalLink2.href='#sem3';
          if(checkboxs[2].checked){
            //2, 4 selecionados. El link3 ejecuta el form
            modalLink4.onclick=function () {  document.getElementById("setMaterias").submit(); };
            modalLink4.href='/';
          }else{
            //Solo 2 seleccionado
            //Muestra la opción de replicar en 3
            document.getElementById("replicar3").style.display='block';
          }
        }
      }
      else if(checkboxs[1].checked){
        //3 seleccionado
          if(checkboxs[2].checked){
            //3, 4 selecionados. El link2 ejecuta el form
            modalLink3.onclick=function () {  document.getElementById("setMaterias").submit(); };
            modalLink3.href='/';
          }else{
            //Solo 3 seleccionado
            var d = document.getElementById('replicar2');

            var olddiv = document.getElementById('rep32');

            d.removeChild(olddiv);
            d.removeChild(document.getElementById('rep32s'));
            modalLink3.href='#sem4';
            document.getElementById("replicar2").style.display='block';
            
          } 
      }
      else if(!checkboxs[0].checked && !checkboxs[1].checked && !checkboxs[2].checked){
        document.getElementById("replicar2").style.display='block';
      } 
    }

    function doload3() {
      var checkboxs=document.getElementsByName("rep2");
      for(var i=0,l=checkboxs.length;i<l;i++)
      {
         if(checkboxs[i].checked)
          {
              var val=checkboxs[i].value
              var checkboxsCam=document.getElementsByName("materias"+val+"[]");
              var checkboxsOr=document.getElementsByName("materias2[]");
                  for(var j=0,m=checkboxsOr.length;j<m;j++)
                  {
                      if(checkboxsOr[j].checked){
                          checkboxsCam[j].checked=true;
                      }
                  }
          }

      }

      var modalLink3 = document.getElementById('linkSem3'); 
      var modalLink4 = document.getElementById('linkSem4');

      if(checkboxs.length==2){
      if(checkboxs[0].checked){

        //tres está seleccionado
        if(checkboxs[1].checked){
          //3,4 está seleccionado
          document.getElementById("setMaterias").submit(); 
        }else{
        //3 seleccionado. Ir a tres
         modalLink3.href='#sem4';

        }
      }
      else if(checkboxs[1].checked){

        //4 está seleccionado
        if(modalLink3.href=='#sem4'){

          //3 Ya ha sido replicado
          document.getElementById("setMaterias").submit();
        }else{
          modalLink3.href=='#sem3';
        }
      }
      }else if(checkboxs.length==1){
                //4 está seleccionado
        //document.getElementById("setMaterias").submit();
        alert("Please check a checkbox"+modalLink3.href);
        if(modalLink3.href==='#sem4'){
          //3 Ya ha sido replicado
          document.getElementById("setMaterias").submit();
        }else{
          modalLink3.href='#sem3';
        }
      }
    }
    
</script>

<h1>Estudiantes de último semestre</h1>
<h1>Estudiantes de último semestre</h1>
<p>Ver estudiantes de último semestre</p>
<%= form_tag('ultimosEstudiantes',:method => :get) do%>
    <%= submit_tag("Ver") %>
<% end%>



 
 <p>Planear Proximos Semestres</p>
<%= form_tag('planearSemestres',:method => :get) do%>
<%= submit_tag("Planear Semestres") %>
<% end %>

<%= form_tag(generar_secciones_generar_path,:method => :get) do%>
<%= submit_tag("Generar Secciones") %>
<% end %>

 <p>Ver Planeacion proximos semestres </p>
<%= form_tag('semestrePlaneado',:method => :get) do%>
<input hidden name="semestre" value="1">
<%= submit_tag("Ver Cupos semestre 1") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
<input hidden name="semestre" value="2">
<%= submit_tag("Ver Cupos semestre 2") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
    <input hidden name="semestre" value="3">
    <%= submit_tag("Ver Cupos semestre 3") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
    <input hidden name="semestre" value="4">
    <%= submit_tag("Ver Cupos semestre 4") %>
<% end %>

<br><br>
 <p>Limpiar Escenario</p>
<%= form_tag('limpiarEscenario',:method => :get) do%>
<%= submit_tag("Limpiar") %>
<% end %>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Ejecutar planeacion</a>
<%= form_tag('setMateriasSemestre',:method => :get,:id => "setMaterias"  ) do%>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Desea especificar las materias en cada semestre?</p>
  </div>
  <div class="modal-footer">
    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <a href="#sem1" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Si</a>
  </div>
</div>

<div id="sem1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 1</p>

        <input hidden name="materias1[]"/>
        <%@materias1 = Materia.all%>
        <%@materias1.each do |c|%>
            <%= check_box_tag "materias1[]", c.id, false, :id => "materias1_#{c.id}" %> <%= c.nombre%><br />
        <%end%>
        <p> Replicar en </p>
      <input id="rep2" name="rep" type="checkbox" value="2" /> 2<br />
      <input id="rep3" name="rep" type="checkbox" value="3" /> 3<br />
      <input id="rep4" name="rep" type="checkbox" value="4" /> 4<br />
    
  </div>
  <div class="modal-footer">
        <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
        <a href="#sem2" id="linkSem2" data-toggle="modal" data-dismiss="modal" class="btn btn-primary" onclick="doload2()">Sem2</a>
  </div>
</div>

<div id="sem2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 2</p>
    <input hidden name="materias2[]"/>
    <%@materias2 = Materia.all%>
    <%@materias2.each do |c|%>
        <%= check_box_tag "materias2[]", c.id, false, :id => "materias2_#{c.id}" %> <%= c.nombre%><br />
    <%end%>
    <div style="display:none" id="replicar2">
     <p> Replicar en </p>
      <input id="rep32" name="rep2" type="checkbox" value="3"> <div id="rep32s">3</div><br />
      <input id="rep42" name="rep2" type="checkbox" value="4" /> 4<br />
    </div>
  </div>

  <div class="modal-footer">

    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <a href="#sem3" id="linkSem3" data-toggle="modal" data-dismiss="modal" class="btn btn-primary" onclick="doload3()">Sem3</a>
  </div>
</div>

<div id="sem3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 3</p>
    <input hidden  name="materias3[]"/>
        <%@materias3 =  Materia.all%>
        <%@materias3.each do |c|%>
            <%= check_box_tag "materias3[]", c.id, false, :id => "materias3_#{c.id}" %> <%= c.nombre%><br />
        <%end%>
  <div style="display:none" id="replicar3">
     <p> Replicar en </p>
      <input id="rep4" name="rep3" type="checkbox" value="4" /> 4<br />
    </div>
  </div>
  <div class="modal-footer">

    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <a href="#sem4" id="linkSem4" data-toggle="modal" data-dismiss="modal" class="btn btn-primary">Sem4</a>
  </div>
</div>

<div id="sem4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Materias del semestre 4</p>
    <input hidden name="materias4[]"/>
        <%@materias4 = Materia.all%>
        <%@materias4.each do |c|%>
            <%= check_box_tag "materias4[]", c.id, false, :id => "materias4_#{c.id}" %> <%= c.nombre%><br />
        <%end%>
  </div>
  <div class="modal-footer">
    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
    <%= submit_tag("Terminar") %>


  </div>
</div>
    <% end %>

