<h1>Estudiantes de último semestre</h1>
<p>Ver estudiantes de último semestre</p>
<%= form_tag('ultimosEstudiantes',:method => :get) do%>
    <%= submit_tag("Ver") %>
<% end%>

 <p>Limpiar Escenario</p>
<%= form_tag('limpiarEscenario',:method => :get) do%>
<%= submit_tag("Limpiar") %>
<% end %>

 <p>Reservar Cupos Estudiantes de Ultimo Semestre</p>
<%= form_tag('reservasUltimosEst',:method => :get) do%>
<%= submit_tag("Reservar") %>
<% end %>
 
 <p>Planear Proximos Semestres</p>
<%= form_tag('planearSemestres',:method => :get) do%>
<%= submit_tag("Planear Semestres") %>
<% end %>

 <p>Semestre Planeado</p>

<%= form_tag('semestrePlaneado',:method => :get) do%>
<input hidden name="semestre" value="2">
<%= submit_tag("Cupos de Segundo Semestre") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
    <input hidden name="semestre" value="3">
    <%= submit_tag("Cupos de Tercer Semestre") %>
<% end %>

<%= form_tag('semestrePlaneado',:method => :get) do%>
    <input hidden name="semestre" value="4">
    <%= submit_tag("Cupos de Cuarto Semestre") %>
<% end %>