<h1>Estudiantes de último semestre</h1>
<p>Ver estudiantes de último semestre</p>
<%= form_tag('ultimosEstudiantes',:method => :get) do%>
    <%= submit_tag("Ver") %>
<% end%>

 <p>Limpiar Escenario</p>
<%= form_tag('limpiarEscenario',:method => :get) do%>
<%= submit_tag("Limpiar") %>
<% end %>

 <p>Reservar Cupos Estudiantes de Ultimo Semestre</p>
<%= form_tag('reservasUltimosEst',:method => :get) do%>
<%= submit_tag("Reservar") %>
<% end %>
 <p>Planear Proximos Semestres</p>
<%= form_tag('planearSemestres',:method => :get) do%>
<%= submit_tag("Planear Semestres") %>
<% end %>
