<h1>Reservas Cupos Ultimos Semestres</h1>
<br><br>

<div class="well">
<table>
  <tr>
	<th>id</th>
    <th>Nombre</th>
    <th>Tipo</th>
  </tr>
  <% n=0%>
  <% @materias.each do |mat| %>

      <tr>
	<td><%= mat.id %></td>
        <td><%= mat.nombre %></td>
        <td><%= mat.tipo %></td>
      </tr>

  <% end %>
</table>

</div>
<p> Número de cupos asignados= <%=n%></p>
<p>Limpiar Escenario</p>
<%= form_tag('limpiarEscenario',:method => :get) do%>
<%= submit_tag("Limpiar") %>
<% end %>
<p>Find me in app/views/reservas/reservasUltimosEst.html.erb</p>
