<h1>ESTUDIANTES</h1>
<br>

<div class="well">
<table width=60%;>                         
  <tr height=40px;>         
    <th>id</th>                 
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Código</th>
    <th>Programa</th>
  </tr>
<% @estudiantes.each do |estudiante| %>
<% if(@m ==estudiante.programa) %>
  <tr>
    <td><%= link_to estudiante.id , estudiante_infoestudiante_path(:id => estudiante.id) %></td> 
    <td><%= link_to estudiante.nombre , estudiante_infoestudiante_path(:id => estudiante.id) %></td>
    <td><%= link_to estudiante.apellido , estudiante_infoestudiante_path(:id => estudiante.id) %></td>
    <td><%= link_to estudiante.codigo , estudiante_infoestudiante_path(:id => estudiante.id) %></td>  
    <td><%= estudiante.programa %></td> 
  </tr>
<% else %>
<% end %>
<% end %>
</table> 


<filtro>
<div class="well" align="center" style="width: 150px; height: 120px">
<p><b>Desea filtrar la lista por:</b></p>
<div align="center" style="position: relative;float: left;">
<%= form_tag(estudiante_listafiltrada_path , method: "post") do%>
<input name="M" type="hidden" value="MATI">
<%= submit_tag("MATI") %>
<% end %>
</div>
<div align="center" style="position: relative;float: left;">
<%= form_tag(estudiante_listafiltrada_path , method: "post") do%>
<input name="M" type="hidden" value="MESI">
<%= submit_tag("MESI") %>
<% end %>
</div>
<div align="center" style="position: relative;float: left;">
<%= form_tag(estudiante_listafiltrada_path , method: "post") do%>
<input name="M" type="hidden" value="MBIT">
<%= submit_tag("MBIT") %>
<% end %>
</div>
<div align="center" style="position: relative;float: left;">
<%= form_tag(estudiante_listafiltrada_path , method: "post") do%>
<input name="M" type="hidden" value="MISO">
<%= submit_tag("MISO") %>
<% end %>
</div>
<div align="center" style="position: relative;float: left;">
<%= form_tag(estudiante_result_path , method: "get") do%>
<%= submit_tag("Todos") %>
<% end %>
</div>
</div>
</filtro>

</div>
