<h1>ESTUDIANTES</h1>
<br>
<div class="well">
<table>                         
  <tr>         
    <th>id</th>                 
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Codigo</th>
    <th>Programa</th>
  </tr>
<% @estudiantes.each do |estudiante| %>
  <tr>
    <td><%= estudiante.id %></td> 
    <td><%= estudiante.nombre %></td>
    <td><%= estudiante.apellido %></td>
    <td><%= estudiante.codigo %></td>  
    <td><%= estudiante.programa %></td> 
  </tr>
<% end %>
</table> 
</div>
